@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background-color: var(--tg-theme-bg-color, theme('colors.white'));
		--text-color: var(--tg-theme-text-color, theme('colors.black'));
		--link-color: var(--tg-theme-link-color, theme('colors.blue.500'));
		--button-color: var(--tg-theme-button-color, theme('colors.blue.500'));
		--button-text-color: var(--tg-theme-button-text-color, theme('colors.white'));
		--hint-color: theme('colors.blue.300');

		-webkit-tap-highlight-color: transparent;
	}

	.dark {
		--background-color: var(--tg-theme-bg-color, theme('colors.gray.800'));
		--text-color: var(--tg-theme-text-color, theme('colors.white'));
		--link-color: var(--tg-theme-link-color, theme('colors.blue.500'));
		--button-color: var(--tg-theme-button-color, theme('colors.blue.500'));
		--button-text-color: var(--tg-theme-button-text-color, theme('colors.white'));
		--hint-color: theme('colors.blue.900');
	}

	body {
		background: var(--background-color);
		color: var(--text-color);
		font-family: 'Noto Sans Arabic', 'Readex Pro';
		direction: rtl;
		@apply prose dark:prose-invert container m-auto px-2 md:px-0;
	}

	* {
		@apply transition;
		outline: none;
	}

	*::selection {
		background: var(--hint-color);
		color: var(--text-color);
	}
	a {
		color: var(--link-color);
		@apply rounded-md;
		@apply focus:ring;
	}

	a:active {
		color: var(--tg-theme-link-color, theme('colors.red.500'));
	}

	button {
		background: var(--button-color);
		color: var(--button-text-color);
		@apply px-2 py-1 rounded-md select-none active:scale-95 hover:filter hover:brightness-95 focus:ring active:ring ring-primary;
	}

	pre {
		direction: ltr;
	}

	ul,
	ol {
		margin-inline-start: theme('spacing.7');
	}
}
@layer components {
	.link,
	.link:hover,
	.link:active {
		color: var(--text-color);
		@apply no-underline;
	}
}
