@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background-color: var(--tg-theme-bg-color, theme('colors.white'));
		--text-color: var(--tg-theme-text-color, theme('colors.black'));
		--link-color: var(--tg-theme-link-color, theme('colors.blue.500'));
		--button-color: var(--tg-theme-button-color, theme('colors.blue.500'));
		--button-text-color: var(--tg-theme-button-text-color, theme('colors.white'));
		--hint-color: var(--tg-theme-hint-color, theme('colors.gray.500'));

		-webkit-tap-highlight-color: transparent;
	}

	.dark {
		--background-color: var(--tg-theme-bg-color, theme('colors.gray.800'));
		--text-color: var(--tg-theme-text-color, theme('colors.white'));
		--link-color: var(--tg-theme-link-color, theme('colors.blue.500'));
		--button-color: var(--tg-theme-button-color, theme('colors.blue.500'));
		--button-text-color: var(--tg-theme-button-text-color, theme('colors.white'));
		--hint-color: var(--tg-theme-hint-color, theme('colors.gray.500'));
	}

	body {
		background: var(--background-color);
		color: var(--text-color);
		@apply prose dark:prose-invert container m-auto;
	}
	* {
		outline: none;
	}
	a {
		color: var(--link-color);
		@apply rounded-md;
		@apply focus:ring;
	}

	a:active {
		color: var(--tg-theme-link-color, theme('colors.red.500'));
	}

	button {
		background: var(--button-color);
		color: var(--button-text-color);
		@apply px-2 py-1 rounded-md select-none active:scale-95 hover:filter hover:brightness-95 focus:ring active:ring;
	}

	pre {
		direction: ltr;
	}
}
